// Place all the styles related to the process_csv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  margin: 0 auto;
  width: 100%;
}

.format-csv-form {
  margin: 0 auto;
  text-align: left;
  width: 100%;

  div {
    float: left;
    width: 100%;
    margin: 10px 0;

    label {
      float: left;
      width: 150px;
    }

    input {
      float: left;
    }

    textarea {
      float: right;
      height: 100px;
      width: 420px;
    }

    button {
      float: right;
      width: 100px;
    }
  }
}

.formatted-table {
  clear: both;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  table {
    float: left;
    margin: 30px 0 0 0;
    td, th {
      height: 30px;
      min-width: 30px;
      padding: 5px;
      text-align: center;
    }

  }

  table, td, th {
    border: 1px solid #CCC;
  }
}