<% if @column_arrays %>
  <div class="formatted-table">
    <table>
      <thead>
      <% @columns.times do |c| %>
        <th><%= c+1 %></th>
      <% end %>
      </thead>
      <tbody>
      <% @column_arrays.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td><%= cell %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>